:root { 
    --main-color : #10cab7 ; 
    --seconddary-color: #2c4755;
}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.imgimg{
    width: 10px;
    height: 50px;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* @media */
/* small */
@media (min-width : 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width : 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}
/* start components */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800px;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;

}
/* end components */

@media(max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}


/* end components */




/*  */ 

/* start header */


.header .container{
display: flex; 
justify-content: space-between;
align-items: center; 
position: fixed;
top: 0;
width: 100%;
background-color: rgba(255, 255, 255, 0.397);
z-index: 10;

}
.header .logo{
    width: 50px; 
    
}
.header .link{
position: relative;   
margin-left: 50px; 
}


.header .link .icon i{
    margin-bottom: 5px;
    height: 2px;
    justify-content: flex-end;
}

#icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 5px;
    height: 3px;
}
/*  */




/*  */
.header .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top : calc(100% + 28px);
    min-width: 200px;
    display: none;
    z-index: 10;
}
.header .link:hover ul {
display: block;
}

.active a{
    /* position: absolute;
    right: 113px; */
    text-decoration: none;
    color: cyan;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;


}
.active a:hover {
    background-color: #ddd;
    color: black;
}



.header .link ul::before {
    content: "";
    border-width: 10px; 
    border-style: solid;
    border-color: #ffffff #ffffff #f6f6f6  #ffffff;
    position: absolute;
    right:1px;
    top :-20px; 


}
.header .link ul li a {
    display: block; 
    padding: 15px;
    text-decoration: none ;
    transition : 0.3s ; 
    color: #333; 

    
}
.header .link ul li a:hover {
padding-left: 25px; 

    
}

.header .link ul li:not(:last-child) a {
border-bottom: 1px solid #333;
    
}
/* end header  */

 /* start landing section  */



.landing{
    background-image: url(../imagehome/Preview.jpg) ;
    background-size: cover ;
    height: calc(103vh - 56px);
}


.landing .intro-text { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;

}
.landing .intro-text h1 { 
    margin: 0;
    font-weight: bold;
    font-size: 100px;
    color: var( --main-color);


}
.landing .intro-text p { 
    font-size: 25px;
    line-height: 1.8%;
    color: #f6f6f6;


}

/* end landing section  */


/* start features */

.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container { 
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 20px ;
}
.features .feat{
    padding: 20px;
    text-align: center;


}
.features .feat i {

    color: var(--main-color);

}
.features .feat h3{
    font-weight: 800px;
    margin: 30px 0 ;

}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}
/* end features */

/* start services */
    .services{
        padding: 60px 0; 
    }

    .services .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
        gap: 30px ;
        margin-top: 100px;


    }
    .services .services-content .srv{
    display: flex;
    margin-bottom: 40px;



    }
    @media(max-width: 767px) { 
        .services .services-content .srv{
            flex-direction: column;
            text-align: center;

        }
    }
    .services .services-content .srv i{
        color:var(--main-color);
        flex-basis:60px;

    }
    .services .services-content .srv .text img{
        width: 340px;
        height: 220px;

    }
    .services .services-content .srv .text h3{
        margin: 0 0 20px;
        text-align: center;

    }
    .services .services-content .srv .text p{
        color: #777;
        font-weight: 300;
        line-height: 1.6 ;

    }
    .services .services-content .srv .image{
        text-align: center;
        position: relative;
    }

    .services .services-content .srv .image::before{
        content: "";
        background-color: var( --seconddary-color);
        width: 100px;
        height: calc(100% + 100px);
        top: -50px;
        position: absolute;
        right: -30px;
        z-index: -1;

    }
    .services .services-content .srv .image img{
        width:200px; 
    
    }

    @media (max-width:1199px){
        .image-column{
            display: none;
        }
    }
    



/* end services */


/* start portfolio */

.portfolio { 
    padding: 60px 0 ;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 30px ;
    margin-top: 80px;

}
.portfolio .portfolio-content .card{
    background-color: white;
}

.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
margin: 0;
}
.portfolio .portfolio-content .card .info p{
color: #777;
line-height: 1.6;
margin-bottom: 0;
}

/* end portfolio */

/* start about */

.about{
    padding: 50px 0 150px 0 ;
    background-color: #f6f6f6;



}

.about .container a {
    text-decoration: none
    
}
.about .container a:hover {
   color: crimson;
    
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width:991px){
    .about .about-content .image{ 
        display: none;

    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    margin-top: 10%;
}
.about .about-content .image img{
    max-width: 100%;
    height: 405px;
}

.about .about-content .text{
    flex-basis: calc(100% - 500px);
    flex: 1;
    margin-top: 150px;
    padding-left: 60px;
    font-weight: bold;

    
}

.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color) ;
}

.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}




/* end about */


/* start contact */


marquee{
    background-color:rgba(0, 0, 255, 0.452);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;



} 
marquee img{

margin-top: 5px;
}

.contact{
    padding: 60px 0 ;
    /* background-color: #f6f6f6; */
}

.contact .info{
    padding: 60px 0 ;
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--seconddary-color);

    letter-spacing: -2px;
    margin-bottom: 15px;

}

.contact .info .link {
display: block;
font-size: 30px;
font-weight: 800;
color: var(--main-color);
text-decoration: none;

}
.contact .info .social{ 
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{ 
padding: 10px;
color: var(--seconddary-color);
}

@media(max-width : 767px) {
    .contact .info .label ,
    .contact .info .link {
        font-size: 25px;

    }
}

.footer{
    background-color: var(--seconddary-color); 
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 30px 10px;
    margin-bottom: 156px;

    

}
.footer span { 
    font-weight: bold;
    color: var(--main-color);
}




/* end contact */